In [1]:
# import the pandas module in your program
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('weather.csv')
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [3]:
print(len(df))

96453

In [5]:
#few more functions
df.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.

In [6]:
df.tail(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [7]:
#Slicing in the dataframe
df[2:7]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.

In [12]:
df.columns.tolist()

['Formatted Date',
 'Summary',
 'Precip Type',
 'Temperature (C)',
 'Apparent Temperature (C)',
 'Humidity',
 'Wind Speed (km/h)',
 'Wind Bearing (degrees)',
 'Visibility (km)',
 'Loud Cover',
 'Pressure (millibars)',
 'Daily Summary']

In [20]:
print("Minimum humidity: ", df['Humidity'].min())
print("Maximum humidity: ",df['Humidity'].max())
print("mean humidity: ",df['Humidity'].mean())

Minimum humidity:  0.0
Maximum humidity:  1.0
mean humidity:  0.7348989663358906

In [22]:
#Find temp when Humidity is minimum
df['Temperature (C)'] [df['Humidity']==df['Humidity'].min()]

19958    -1.111111
28101   -15.000000
28103   -15.555556
28110   -13.888889
29627     1.111111
54840   -15.555556
54858   -15.000000
54870   -16.111111
54872   -15.000000
54873   -13.888889
55086   -12.777778
55088   -12.777778
55349   -12.222222
55350   -12.222222
55352   -12.222222
55412   -17.777778
55469   -17.777778
55472   -17.777778
55473   -16.111111
55481   -12.777778
55508   -16.111111
55511   -17.777778
Name: Temperature (C), dtype: float64

In [23]:
df.shape

(96453, 12)

In [24]:
# statistics of your dataframe by calling describe()
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [25]:
#To get dataframe where temperature is greater than 9
df1 = df[df['Temperature (C)'] > 9]
df1.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.

In [27]:
df1.shape

(56606, 12)

In [28]:
'''Pandas has its own indexing by default from 0 to row no
We can also reset its index by set_index() function'''

df1.set_index('Formatted Date', inplace = True)

In [34]:
df1[19:24]

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
Formatted Date,,,,,,,,,,,
2006-04-01 23:00:00.000 +0200,Mostly Cloudy,rain,10.200000,10.200000,0.77,3.9284,152.0,14.9569,0.0,1015.51,Partly cloudy throughout the day.
2006-04-10 00:00:00.000 +0200,Partly Cloudy,rain,10.422222,10.422222,0.62,16.9855,150.0,15.8263,0.0,1014.40,Mostly cloudy throughout the day.
2006-04-10 01:00:00.000 +0200,Partly Cloudy,rain,9.911111,7.566667,0.66,17.2109,149.0,15.8263,0.0,1014.20,Mostly cloudy throughout the day.
2006-04-10 02:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.80,10.8192,163.0,14.9569,0.0,1008.71,Mostly cloudy throughout the day.
2006-04-10 08:00:00.000 +0200,Mostly Cloudy,rain,9.872222,7.933333,0.78,13.7494,160.0,9.9820,0.0,1014.24,Mostly cloudy throughout the day.

In [36]:
#Find the specific value rows
df1.loc['2006-04-10 02:00:00.000 +0200']

Summary                                         Mostly Cloudy
Precip Type                                              rain
Temperature (C)                                       11.1833
Apparent Temperature (C)                              11.1833
Humidity                                                  0.8
Wind Speed (km/h)                                     10.8192
Wind Bearing (degrees)                                    163
Visibility (km)                                       14.9569
Loud Cover                                                  0
Pressure (millibars)                                  1008.71
Daily Summary               Mostly cloudy throughout the day.
Name: 2006-04-10 02:00:00.000 +0200, dtype: object

In [37]:
#Find the specific value rows
df1.iloc[2]

Summary                                         Mostly Cloudy
Precip Type                                              rain
Temperature (C)                                       9.37778
Apparent Temperature (C)                              9.37778
Humidity                                                 0.89
Wind Speed (km/h)                                      3.9284
Wind Bearing (degrees)                                    204
Visibility (km)                                       14.9569
Loud Cover                                                  0
Pressure (millibars)                                  1015.94
Daily Summary               Partly cloudy throughout the day.
Name: 2006-04-01 02:00:00.000 +0200, dtype: object

In [38]:
df1.iloc[4:7]

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
Formatted Date,,,,,,,,,,,
2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
2006-04-01 09:00:00.000 +0200,Partly Cloudy,rain,13.772222,13.772222,0.72,12.5258,279.0,9.9820,0.0,1017.22,Partly cloudy throughout the day.
2006-04-01 10:00:00.000 +0200,Partly Cloudy,rain,16.016667,16.016667,0.67,17.5651,290.0,11.2056,0.0,1017.42,Partly cloudy throughout the day.

In [39]:
df1.reset_index()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
4,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
56601,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
56602,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
56603,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
56604,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
56605,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [41]:
df1.isnull().values.any()

True

In [42]:
df1.isnull().sum()

Summary                       0
Precip Type                 303
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [43]:
'''Handling missing values: 

 1)  fillna() method 
 2)  Forward fill method - fillna(method="ffill",limit=m)
 3)  Backward fill method - df2=df.fillna(method="bfill")
 4)  dropna() method
 '''
df2 = df1.fillna(method ='ffill')

In [44]:
df2.isnull().sum()

Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

In [45]:
#Droping all the rows which contains all the values NaN
df3 = df2.dropna(how ='all')

In [47]:
g= df2.groupby('Precip Type')
g

In [54]:
for data1, data in g:
    print(data1)
    print('-' *10)
    print(data)
    print('-' *20)

rain
----------
                                     Summary Precip Type  Temperature (C)  \
Formatted Date
2006-04-01 00:00:00.000 +0200  Partly Cloudy        rain         9.472222
2006-04-01 01:00:00.000 +0200  Partly Cloudy        rain         9.355556
2006-04-01 02:00:00.000 +0200  Mostly Cloudy        rain         9.377778
2006-04-01 05:00:00.000 +0200  Partly Cloudy        rain         9.222222
2006-04-01 08:00:00.000 +0200  Partly Cloudy        rain        10.822222
...                                      ...         ...              ...
2016-09-09 19:00:00.000 +0200  Partly Cloudy        rain        26.016667
2016-09-09 20:00:00.000 +0200  Partly Cloudy        rain        24.583333
2016-09-09 21:00:00.000 +0200  Partly Cloudy        rain        22.038889
2016-09-09 22:00:00.000 +0200  Partly Cloudy        rain        21.522222
2016-09-09 23:00:00.000 +0200  Partly Cloudy        rain        20.438889

                               Apparent Temperature (C)  Humidity  \
Formatted Date
2006-04-01 00:00:00.000 +0200                  7.388889      0.89
2006-04-01 01:00:00.000 +0200                  7.227778      0.86
2006-04-01 02:00:00.000 +0200                  9.377778      0.89
2006-04-01 05:00:00.000 +0200                  7.111111      0.85
2006-04-01 08:00:00.000 +0200                 10.822222      0.82
...                                                 ...       ...
2016-09-09 19:00:00.000 +0200                 26.016667      0.43
2016-09-09 20:00:00.000 +0200                 24.583333      0.48
2016-09-09 21:00:00.000 +0200                 22.038889      0.56
2016-09-09 22:00:00.000 +0200                 21.522222      0.60
2016-09-09 23:00:00.000 +0200                 20.438889      0.61

                               Wind Speed (km/h)  Wind Bearing (degrees)  \
Formatted Date
2006-04-01 00:00:00.000 +0200            14.1197                   251.0
2006-04-01 01:00:00.000 +0200            14.2646                   259.0
2006-04-01 02:00:00.000 +0200             3.9284                   204.0
2006-04-01 05:00:00.000 +0200            13.9587                   258.0
2006-04-01 08:00:00.000 +0200            11.3183                   259.0
...                                          ...                     ...
2016-09-09 19:00:00.000 +0200            10.9963                    31.0
2016-09-09 20:00:00.000 +0200            10.0947                    20.0
2016-09-09 21:00:00.000 +0200             8.9838                    30.0
2016-09-09 22:00:00.000 +0200            10.5294                    20.0
2016-09-09 23:00:00.000 +0200             5.8765                    39.0

                               Visibility (km)  Loud Cover  \
Formatted Date
2006-04-01 00:00:00.000 +0200          15.8263         0.0
2006-04-01 01:00:00.000 +0200          15.8263         0.0
2006-04-01 02:00:00.000 +0200          14.9569         0.0
2006-04-01 05:00:00.000 +0200          14.9569         0.0
2006-04-01 08:00:00.000 +0200           9.9820         0.0
...                                        ...         ...
2016-09-09 19:00:00.000 +0200          16.1000         0.0
2016-09-09 20:00:00.000 +0200          15.5526         0.0
2016-09-09 21:00:00.000 +0200          16.1000         0.0
2016-09-09 22:00:00.000 +0200          16.1000         0.0
2016-09-09 23:00:00.000 +0200          15.5204         0.0

                               Pressure (millibars)  \
Formatted Date
2006-04-01 00:00:00.000 +0200               1015.13
2006-04-01 01:00:00.000 +0200               1015.63
2006-04-01 02:00:00.000 +0200               1015.94
2006-04-01 05:00:00.000 +0200               1016.66
2006-04-01 08:00:00.000 +0200               1017.37
...                                             ...
2016-09-09 19:00:00.000 +0200               1014.36
2016-09-09 20:00:00.000 +0200               1015.16
2016-09-09 21:00:00.000 +0200               1015.66
2016-09-09 22:00:00.000 +0200               1015.95
2016-09-09 23:00:00.000 +0200               1016.16

                                                        Daily Summary
Formatted Date
2006-04-01 00:00:00.000 +0200       Partly cloudy throughout the day.
2006-04-01 01:00:00.000 +0200       Partly cloudy throughout the day.
2006-04-01 02:00:00.000 +0200       Partly cloudy throughout the day.
2006-04-01 05:00:00.000 +0200       Partly cloudy throughout the day.
2006-04-01 08:00:00.000 +0200       Partly cloudy throughout the day.
...                                                               ...
2016-09-09 19:00:00.000 +0200  Partly cloudy starting in the morning.
2016-09-09 20:00:00.000 +0200  Partly cloudy starting in the morning.
2016-09-09 21:00:00.000 +0200  Partly cloudy starting in the morning.
2016-09-09 22:00:00.000 +0200  Partly cloudy starting in the morning.
2016-09-09 23:00:00.000 +0200  Partly cloudy starting in the morning.

[56606 rows x 11 columns]
--------------------

In [55]:
g.get_group('rain')

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
Formatted Date,,,,,,,,,,,
2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...
2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [56]:
g.min()

,Summary,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
Precip Type,,,,,,,,,,
rain,Breezy,9.0,4.472222,0.12,0.0,0.0,0.0,0.0,0.0,Breezy and partly cloudy in the afternoon.

In [57]:
g.mean()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
Precip Type,,,,,,,,
rain,18.464111,18.374172,0.660905,10.661658,189.899763,11.732248,0.0,1003.159408

In [59]:
group_loud_cover= df2.groupby('Loud Cover')
group_loud_cover['Apparent Temperature (C)'].agg([np.min, np.max, np.mean, np.sum,np.std])

                amin       amax       mean           sum       std
Loud Cover
0.0         4.472222  39.344444  18.374172  1.040088e+06  6.245714

In [60]:
group_Summary= df2.groupby('Summary')
group_Summary['Apparent Temperature (C)'].agg([np.min, np.max, np.mean, np.sum,np.std])

,amin,amax,mean,sum,std
Summary,,,,,
Breezy,5.716667,35.700000,22.093651,309.311111,10.711610
Breezy and Dry,21.111111,21.111111,21.111111,21.111111,NaN
Breezy and Foggy,6.361111,17.616667,13.729630,41.188889,6.384545
Breezy and Mostly Cloudy,4.983333,27.766667,14.970303,4550.972222,5.232158
Breezy and Overcast,5.172222,22.433333,11.782206,2380.005556,4.198558
Breezy and Partly Cloudy,4.700000,36.922222,17.972170,3846.044444,6.442592
Clear,6.122222,38.661111,18.452176,120677.233333,6.444325
Drizzle,7.000000,17.844444,12.027564,312.716667,2.249951
Dry,20.000000,36.622222,28.273529,961.300000,6.089312
Dry and Mostly Cloudy,20.072222,31.611111,25.929365,363.011111,4.484657
Dry and Partly Cloudy,20.000000,35.672222,25.982235,2234.472222,4.916097
Foggy,6.638889,23.661111,12.382671,7788.700000,2.751880
Humid and Mostly Cloudy,20.000000,23.111111,20.886389,835.455556,0.880749
Humid and Overcast,20.105556,24.055556,21.515079,150.605556,1.322571
Humid and Partly Cloudy,20.055556,23.566667,21.568301,366.661111,0.899273
Light Rain,6.316667,16.011111,10.664245,415.905556,2.417495
Mostly Cloudy,5.561111,38.116667,17.760307,316524.188889,5.550359
Overcast,5.727778,32.250000,14.394601,95896.833333,4.100637
Partly Cloudy,5.416667,39.344444,20.163800,481350.244444,6.485455
Rain,8.244444,11.500000,10.371528,82.972222,0.991945
Windy,5.733333,12.172222,8.952778,17.905556,4.552982
Windy and Dry,26.344444,26.344444,26.344444,26.344444,NaN
Windy and Foggy,14.927778,19.633333,16.551852,49.655556,2.669942
Windy and Mostly Cloudy,5.722222,19.905556,13.208565,317.005556,4.076078
Windy and Overcast,5.750000,21.305556,12.778125,204.450000,4.797664
Windy and Partly Cloudy,4.472222,22.705556,14.003632,364.094444,4.484748