# <font color="blue">Lesson 2 - Data Retrieval and Preparation</font>

## Section 2. Concatenate and Join Data Frames

In [1]:
# Import Pandas library
import pandas as pd

### Concatenate Data Frames
Concatenating dataframes joins them together either by adding one dataframe on to the end of the other, or side by side. How the dataframe are added together depends on whehter you choose the axis to be by row, or by column.

In [2]:
# Create 2 dataframes
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], \
                    'B': ['B0', 'B1', 'B2', 'B3'], \
                    'C': ['C0', 'C1', 'C2', 'C3'], \
                    'D': ['D0', 'D1', 'D2', 'D3']}, \
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], \
                    'B': ['B4', 'B5', 'B6', 'B7'], \
                    'C': ['C4', 'C5', 'C6', 'C7'], \
                    'D': ['D4', 'D5', 'D6', 'D7']},\
                   index=[4, 5, 6, 7])

In [3]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [4]:
frames = [df1, df2]

In [5]:
frames

[    A   B   C   D
 0  A0  B0  C0  D0
 1  A1  B1  C1  D1
 2  A2  B2  C2  D2
 3  A3  B3  C3  D3,
     A   B   C   D
 4  A4  B4  C4  D4
 5  A5  B5  C5  D5
 6  A6  B6  C6  D6
 7  A7  B7  C7  D7]

In [6]:
result = pd.concat(frames)

# Display the first 10 rows of the result
result.head(10)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

### Join two Data Frames

#### Left Join

In [7]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'], \
                     'A': ['A0', 'A1', 'A2', 'A3'], \
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'], \
                      'C': ['C0', 'C1', 'C2', 'C3'], \
                      'D': ['D0', 'D1', 'D2', 'D3']})


result = pd.merge(left, right, on='key')

# Display the first 5 rows of the result
result.head()

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

#### Inner Join (default)

In [8]:
# A new dataframe. What's different?
right1 = pd.DataFrame({'key': ['K0', 'K1', 'K3'], \
                      'C': ['C0', 'C1', 'C3'], \
                      'D': ['D0', 'D1', 'D3']})
result1 = pd.merge(left, right1, on='key') 

# Display the first 5 rows of the result1
result1.head()

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K3  A3  B3  C3  D3

#### Left Outer Join

In [9]:
result2 = pd.merge(left, right1, how='left', on='key') 

# Display the first 5 rows of the result
result2.head()

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K1  A1  B1   C1   D1
2  K2  A2  B2  NaN  NaN
3  K3  A3  B3   C3   D3

#### Right Outer Join

In [10]:
result3 = pd.merge(left, right1, how='right', on='key') 

# Display the first 5 rows of the result
result3.head()

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K3  A3  B3  C3  D3

#### Outer Join

In [11]:
# A new dataframe. What's different?
left1 = pd.DataFrame({'key': ['K1', 'K2', 'K3'], \
                     'A': ['A1', 'A2', 'A3'], \
                     'B': ['B1', 'B2', 'B3']})
result4 = pd.merge(left1, right1, how='outer', on='key') 

# Display the first 5 rows of the result
result4.head()

  key    A    B    C    D
0  K1   A1   B1   C1   D1
1  K2   A2   B2  NaN  NaN
2  K3   A3   B3   C3   D3
3  K0  NaN  NaN   C0   D0